<mat-card class="p-5 mt-5">
    <mat-card-header fxLayoutAlign="center center">
        <mat-card-title class="uppercase">{{'COMMON.COMMENTS'|translate}}</mat-card-title>
    </mat-card-header>
    <div class="divider"></div>
    <mat-list class="reviews mt-3">
        <mat-list-item *ngFor="let review of reviews" class="h-100">
            <img matListAvatar src="assets/images/avatars/user_faded.jpg" alt="image" class="review-author">
            <p matLine fxLayoutAlign="start center">
                <span class="fw-500">{{review.author}}</span>
                <app-rating [ratingsCount]="1" [ratingsValue]="review?.rating">
                </app-rating>
            </p>
            <p matLine class="text-muted"><small>{{review.createDate|date:'short'}}</small></p>
            <p matLine class="text">{{review.message}}</p>
        </mat-list-item>
    </mat-list>
    <h3 class="mt-3"  *ngIf="!messages">{{'COMMON.LEAVE_US_COMMENT'|translate}}</h3>
    <div class="divider"></div>
    <p class="mt-3 text-muted"  *ngIf="!messages">{{'MESSAGE.YOUR_EMAIL_NOT_PUBLISHED'|translate}}</p>
    <h3 fxLayoutAlign="start center" class="my-3 text-muted"  *ngIf="!messages">
        <span>Rating</span>
        <button *ngFor="let rating of ratings" mat-icon-button [matTooltip]="rating.title" matTooltipPosition="above"
            (click)="rate(rating)">
            <mat-icon class="mat-icon-lg" [class.primary-color]="rating.selected">{{rating.icon}}</mat-icon>
        </button>
    </h3>
    <form [formGroup]="commentForm" (ngSubmit)="onCommentFormSubmit(commentForm.value)" fxLayout="row wrap"
        fxLayoutAlign="space-between" class="comment-form">
        <div fxFlex="100" class="p-2"  *ngIf="!messages">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Review</mat-label>
                <textarea matInput placeholder="Review" formControlName="review" required rows="5"></textarea>
                <mat-error *ngIf="commentForm.controls.review.errors?.required">
                    {{'VALIDATION.FIELD_REQUIRED'|translate}}</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="49" class="p-2"  *ngIf="!messages">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'COMMON.NAME'|translate}}</mat-label>
                <input matInput placeholder="Your name" formControlName="name" required>
                <mat-error *ngIf="commentForm.controls.name.errors?.required">{{'VALIDATION.NAME_REQUIRED'|translate}}
                </mat-error>
                <mat-error *ngIf="commentForm.controls.name.hasError('minlength')">
                    {{'VALIDATION.MINIMUM_LENGTH'|translate}} 4</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="49" class="p-2"  *ngIf="!messages">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="Your email" formControlName="email" required>
                <mat-error *ngIf="commentForm.controls.email.errors?.required">{{'VALIDATION.EMAIL_REQUIRED'|translate}}
                </mat-error>
                <mat-error *ngIf="commentForm.controls.email.hasError('invalidEmail')">
                    {{'VALIDATION.EMAIL_INVALID'|translate}}</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100" class="text-center w-100" *ngIf="!messages">
            <button mat-raised-button color="primary" type="submit"
                class="uppercase">{{'COMMON.SUBMIT'|translate}}</button>
        </div>
        <div class="text-center mt-2" *ngIf="messages">
            <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
        </div>
    </form>
</mat-card>