<div class="header-image-wrapper" [dir]="(settings.rtl) ? 'rtl' : 'ltr'">
    <div class="bg" [style.background-image]="bgImage" [class.bg-anime]="bgImageAnimate"></div>
    <div class="mask"></div>
   
    <div class="header-image-content" fxLayout="column" fxLayoutAlign="center center" [class.offset-bottom]="contentOffsetToTop" [class.home-page]="isHomePage"  [style.min-height.px]="contentMinHeight">
        <h1 *ngIf="title" class="title">{{title}}</h1>
        <p *ngIf="desc" style="width:60%;" class="desc">{{desc}}</p>
        <div *ngIf="isHomePage" ngClass.gt-xs="mt-4" ngClass.xs="mt-3" 
        style="position: absolute;bottom: 0;left: 0;">
          <a mat-raised-button class="button-md-primary" routerLink="/about">{{'COMMON.ABOUT_US'|translate}}</a>   
        </div>
    </div>
  </div>