.dashLine {
	line-height: 1 !important;
}

.dashNumber {
	font-size: 40px; 
	font-weight: 500 !important;
	color: #1976d2;
}

.dashLabel {
	font-size: 20px; 
	font-weight: 10 !important;

}

.dashTitle {
	font-size: 40px; 
	font-weight: Bold !important;
	color: #1976d2;
}

.dashDescription {
	font-size: 30px; 
	font-weight: 300 !important;
}