<div class="p-3">
  <div class="theme-container">
    <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>
      <mat-card ngClass.lt-lg="p-0" *ngIf="!done&&!tokenStorage.hasToken()">
        <div fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
            <h1>{{'COMMON.CONNECT_TO_SUBMIT_RESUME' | translate }}</h1>
          </div>
        </div>
        <div fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
            <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
              <a mat-raised-button [routerLink]="['/login', '2']" color="accent" class="w-100">
                {{'COMMON.SIGN_IN' | translate }}</a>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
            <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
              <a mat-raised-button [routerLink]="['/register', '2']" color="accent"
                class="w-100">{{'COMMON.NEW_REGISTER' | translate }}</a>
            </div>
          </div>
        </div>
      </mat-card>
      <mat-card ngClass.lt-lg="p-0" *ngIf="done&&tokenStorage.hasToken()">
        <div fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
            <h2 style="color: green;">{{'MESSAGE.RESUME_SUBMITTED' | translate }}</h2>
            <br />
            <a mat-button [routerLink]="['/account/user/'+user.id]" color="primary"
              class="w-100">{{'MESSAGE.CONNECT_EDIT_RESUME' | translate }}</a>
          </div>
        </div>
      </mat-card>
      <mat-card ngClass.lt-lg="p-0" *ngIf="!done&&tokenStorage.hasToken()">
        <mat-horizontal-stepper #horizontalStepper linear="true" class="submit-project"
          (selectionChange)="onSelectionChange($event)">
          <mat-step label="{{'COMMON.RESUME' | translate}}">
            <div class="step-content">
              <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
                  <mat-label> {{'MESSAGE.RESUME_INSTRUCTION_1' | translate}}<font color="red">*
                    </font>
                  </mat-label>
                  <quill-editor [styles]="{height: '450px'}" class="form-control" id="description" [(ngModel)]="user.resume" name="objectif"
                    #objectif="ngModel" required></quill-editor>
                  <mat-error *ngIf="f.submitted && objectif.invalid" severity="error">
                    {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
                  </mat-error>
                </div>
              </div>
            </div>
          </mat-step>
          <mat-step label="{{'COMMON.ADDITIONNAL_DOC'|translate}}">
            <div class="step-content">
              <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
                   <mat-label> {{'MESSAGE.RESUME_INSTRUCTION_2' | translate}}<font color="limegreen"> 
                     ({{'COMMON.OPTIONAL' | translate}})
                    </font>
                  </mat-label>
                  
                  <p class="mb-0"><span class="uppercase fw-500">
                    <br/>
                    {{'COMMON.PICTURE' | translate}}</span><span
                      class="text-muted mx-3">(max: 20 images)</span></p>
                  <input-file [(ngModel)]="files" name="gallery" #gallery="ngModel" fileLimit="20" fileAccept="image/*"
                    [linkEnabled]="false" multiple>
                  </input-file>
                </div>
              </div>
              <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
                  <div fxLayout="row wrap">
                    <div fxFlex="100" fxLayoutAlign="start center" class="my-3 px-2">
                      <p class="mb-0"><span class="uppercase fw-500">{{'COMMON.VIDEO' | translate}}</span><span
                          class="text-muted mx-3">( {{'COMMON.YOUTUBE_LINK'|translate}})</span></p>
                      <button type="button" mat-icon-button color="primary" (click)="addVideo()"
                        matTooltip="{{'COMMON.ADD_VIDEO'|translate}}" matTooltipPosition="after">
                        <mat-icon>add_circle</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div fxLayout="row wrap">
                    <div *ngFor="let video of user.videos; let i = index;" fxFlex="100" fxFlex.gt-sm="100"
                      class="step-section">
                      <div fxFlex="4" class="fw-500 text-center pt-3">{{i+1}}.</div>
                      <div fxFlex="90" fxLayout="row wrap">
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="40" class="px-2">
                          <mat-label>{{'COMMON.NAME' | translate}}</mat-label>
                          <input matInput placeholder="{{'COMMON.NAME' | translate}}" [(ngModel)]="video.name"
                            name="videoName + {{i}}" autocomplete="off">
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="60" class="px-2">
                          <mat-label>{{'COMMON.LINK' | translate}}</mat-label>
                          <input matInput placeholder="{{'COMMON.LINK_TO_VIDEO' | translate}}" [(ngModel)]="video.link"
                            name="videoLink + {{i}}" autocomplete="off">
                        </mat-form-field>
                      </div>
                      <div fxFlex="6" class="text-center pt-2">
                        <button type="button" mat-icon-button color="warn" (click)="deleteVideo(video.id, i)"
                          matTooltip="{{'COMMON.DELETE' | translate}}">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
        <div fxLayout="row wrap" *ngIf="canEdit()||isAdmin()">
          <div fxFlex="100" fxFlex.gt-sm="100" class="h-100 w-100 text-right">
            <h2 *ngIf="messages" style="color: green;"> {{messages}} </h2>
            <h2 *ngIf="error" style="color: red;"> {{error}} </h2>
            <button type="submit" mat-raised-button color="primary">
              <span>{{horizontalStepper.selectedIndex < 1?('COMMON.NEXT'|translate):('COMMON.SUBMIT_RESUME'|translate)}}</span>
              <span class="material-icons">
                navigate_next
              </span>
            </button>
          </div>
        </div>
      </mat-card>
    </form>
  </div>
</div>