.galery-wrapper {
    padding: 20px;
    text-align: center;
  }
  
  .image-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .image-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
  }
  
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  