<div class="px-3">

    <div class="theme-container">
        <mat-sidenav-container class="all-properties mt-3">
            <mat-sidenav-content ngClass.gt-sm="distance">

                <div fxLayout="row wrap">
                    <div fxFlex="15" fxFlex.gt-sm="65">
                        <h1>{{eventDesc.title}}</h1>
                    </div>
                    <div fxFlex="15" fxFlex.gt-sm="35">
                        <mat-icon class="text-muted">date_range</mat-icon>
                        <span class="mx-2">{{event.beginDate | date:"dd MMMM, yyyy hh:mm" }} -
                            {{event.endDate | date:"dd MMMM, yyyy hh:mm" }}</span>
                    </div>
                </div>
                <div fxLayout="row wrap">
                    <div fxFlex="15" fxFlex.gt-sm="65">
                        <span>{{'COMMON.LOCATION'|translate}}: {{event.location}}</span>
                    </div>
                    <div fxFlex="15" fxFlex.gt-sm="35">
                        <span>{{'COMMON.COORDINATOR'|translate }} :
                            {{event.coordinator.name}}</span>
                    </div>
                </div>

                <div fxLayout="row wrap" class="properties-wrapper mt-0" style="width: 100%;">


                    <mat-card class="mt-3" *ngIf="event?.fileNames && event?.fileNames.length>0" style="width: 100%;">
                        <div class="main-carousel mb-3" style="height: 800px;">

                            <!--  <div *ngIf="project" class="control-icons">
                         <button mat-button [disabled]="onFavorites()" (click)="addToFavorites()"
                                matTooltip=" {{'COMMON.ADD_FAVORITE'|translate }}">
                                <mat-icon class="">favorite_border</mat-icon>
                            </button> 
                         </div>
                         -->
                         <span>
                            <h3>{{'COMMON.OUR_EVENT_IN_IMAGES'|translate }}</h3>
                         </span>

                            <div id="main-carousel" class="swiper-container" [swiper]="config"
                                (indexChange)="onIndexChange($event)" style="height: 800px;">
                                <div class="swiper-wrapper">
                                    <div *ngFor="let image of event?.fileNames" class="swiper-slide">
                                        <img [attr.data-src]="'assets/images/events/' + event.id + '/'+image"
                                            class="swiper-lazy">
                                        <div class="swiper-lazy-preloader"></div>
                                    </div>
                                </div>
                                <button mat-mini-fab color="primary" class="swiper-button-prev swipe-arrow">
                                    <mat-icon>keyboard_arrow_left</mat-icon>
                                </button>
                                <button mat-mini-fab color="primary" class="swiper-button-next swipe-arrow">
                                    <mat-icon>keyboard_arrow_right</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="small-carousel">
                            <div id="small-carousel" class="swiper-container" [swiper]="config2">
                                <div class="swiper-wrapper">
                                    <div *ngFor="let image of event?.fileNames; let i=index;" class="swiper-slide"
                                        [ngClass]="'thumb-'+i" [class.active-thumb]="i == 0">
                                        <img [attr.data-src]="'assets/images/events/' + event.id + '/'+image"
                                            style="max-height:50px;" class="swiper-lazy mw-100"
                                            (click)="selectImage(i)">
                                        <div class="swiper-lazy-preloader"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>
<app-get-in-touch></app-get-in-touch>