<div fxLayout="row wrap" fxLayoutAlign="center center">
  <h2>{{'COMMON.JOB_POSTINGS' | translate}}</h2>
</div>
<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="90" class="p-3">
    <mat-form-field appearance="outline" class="w-100">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'COMMON.SEARCH' | translate}}"
        autocomplete="off">
    </mat-form-field>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="10" class="p-3">
    <a [routerLink]="['/account/job-position', 0]" mat-icon-button color="primary"
      matTooltip="{{'COMMON.ADD' | translate}}">
      <mat-icon color="primary" class="mat-icon-xlg">add_circle</mat-icon>
    </a>
  </div>
</div>

<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" matSort class="w-100">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let jobPositionDesc"> {{jobPositionDesc.jobPosition.id}} </td>
    </ng-container>

    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMMON.RANK' | translate}} </th>
      <td mat-cell *matCellDef="let jobPositionDesc">{{jobPositionDesc.jobPosition.rank}}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMMON.TITLE' | translate}} </th>
      <td mat-cell *matCellDef="let jobPositionDesc">{{jobPositionDesc.title}}</td>
    </ng-container>

    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMMON.DESCRIPTION' | translate}} </th>
      <td mat-cell *matCellDef="let jobPositionDesc">
        <div [innerHTML]="jobPositionDesc.shortDesc | safehtml"></div>
      </td>
    </ng-container>

    <ng-container matColumnDef="createDatetime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let jobPositionDesc">
        {{jobPositionDesc.createDate | date: appService.DATE_TIME_FORMAT }} </td>
    </ng-container>

    <ng-container matColumnDef="resumeCnt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Resume Count </th>
      <td mat-cell *matCellDef="let jobPositionDesc">
        <a [routerLink]="['/account/job-appli-list', jobPositionDesc.jobPosition.id]">
          {{jobPositionDesc.jobAppliCnt }} 
        </a>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let jobPositionDesc">
        <a [routerLink]="['/account/job-position', jobPositionDesc.jobPosition.id]" mat-icon-button color="primary"
          matTooltip="{{'COMMON.EDIT' | translate}}">
          <mat-icon>edit</mat-icon>
        </a>
        <button mat-icon-button color="warn" (click)="remove(jobPositionDesc)"
          matTooltip="{{'COMMON.DELETE' | translate}}" class="remove">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let jobPosition; columns: displayedColumns;">
    </tr>
  </table>
  <p *ngIf="dataSource?.data.length === 0" class="py-5 mb-0 text-center">{{'MESSAGE.NO_DATA' | translate}}</p>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>