<div class="table-wrapper">

  <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" validate>

    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-sm="30" class="p-3"> 
        <a mat-button [matMenuTriggerFor]="langMenu" #langMenuTrigger="matMenuTrigger">
          <img [src]="flag.image" width="18">
          <span fxShow="false" fxShow.gt-md class="uppercase flag-name">{{flag.name}}</span>
          <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
        </a>
        <mat-menu #langMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-menu-panel">
          <span (mouseleave)="langMenuTrigger.closeMenu()">
            <button mat-menu-item *ngFor="let flag of flags" (click)="changeLang(flag)">
              <img [src]="flag.image" width="18" class="mat-elevation-z1"><span
                class="flag-name">{{flag.name}}</span>
            </button>
          </span>
        </mat-menu>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="30" class="p-3">
        <mat-label> Total {{'COMMON.YES' | translate}}:</mat-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-label> {{faq.yesCount}}</mat-label>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="30" class="p-3">
        <mat-label> Total {{'COMMON.NO' | translate}}:</mat-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-label> {{faq.noCount}}</mat-label>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label> {{'COMMON.QUESTION' | translate}}</mat-label>
          <textarea matInput type="text" class="form-control" id="question" [(ngModel)]="faq.question" name="question" 
            #question="ngModel" required></textarea>
          <mat-error *ngIf="f.submitted && question.invalid" severity="error">
            {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
        <mat-label> {{'COMMON.ANSWER' | translate}}<font color="white">*</font></mat-label>
        <quill-editor class="form-control" id="answer" [(ngModel)]="faq.answer" name="answer" #answer="ngModel"
          required></quill-editor>
        <mat-error *ngIf="f.submitted && answer.invalid" severity="error">
          {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
        </mat-error>
      </div>
    </div>
    
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
        <div class="text-center mt-2">
          <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" type="submit">
            <span class="mx-1 uppercase">{{'COMMON.SAVE' | translate}}</span>
            <mat-icon>save</mat-icon>
          </button> </div>
        <div class="text-center mt-2" *ngIf="messages">
          <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
        </div>
      </div>
    </div>
  </form>

</div>