<mat-toolbar id="top-toolbar" class="top-toolbar">
  <mat-toolbar-row ngClass.xs="p-0">
    <div class="theme-container" fxLayout="row" fxLayoutAlign="center" fxLayoutAlign.gt-sm="end center"
      fxLayoutAlign.sm="space-between center">
      <app-social-icons [iconSize]="'lg'" [iconColor]="'primary'" fxLayout="row" fxLayoutAlign="start center"
        fxHide="false" fxHide.gt-sm fxHide.xs></app-social-icons>
      <div fxLayout="row" fxLayoutAlign="start center" fxShow="false" fxShow.xs class="bg-primary right-section px-2">
        <app-social-icons fxLayout="row" fxLayoutAlign="start center"></app-social-icons>
      </div>
      <div >
        <a mat-raised-button routerLink="/payment/0/0" color="warn"
        class="w-100">{{'COMMON.DONATE' | translate }}</a>
      </div>
      <div style="padding: 100px;"></div> 
      <div fxLayout="row" fxLayoutAlign="end center" class="bg-primary right-section" ngClass.xs="w-100">
        <div *ngIf="appService.company.displayLangMenu"><app-lang></app-lang></div>
        <app-user-menu></app-user-menu>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row ngClass.xs="py-3">
    <div class="theme-container" fxLayout="row" fxLayoutAlign="center" fxLayoutAlign.gt-sm="space-between center">
      <a class="logo" routerLink="/">
        <app-logo></app-logo>
      </a>
      <app-contacts [dividers]="false" [iconColor]="'primary'" [iconSize]="'lg'" fxLayout="row"
        fxLayoutAlign="start center" fxShow="false" fxShow.gt-sm></app-contacts>
      <app-social-icons [iconSize]="'lg'" [iconColor]="'primary'" fxLayout="row" fxLayoutAlign="end center"
        fxShow="false" fxShow.gt-sm></app-social-icons>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar id="main-toolbar" class="mat-elevation-z2">
  <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon class="mat-icon-xlg" fxHide="false" fxHide.gt-sm (click)="sidenavToggle()">menu</mat-icon>
    <div fxShow="false" fxShow.gt-sm class="horizontal-menu">
      <app-horizontal-menu [menuParentId]="0"></app-horizontal-menu>
    </div>
    <div>
      <iframe
        src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.bidamaservices.com&width=150&layout=button_count&action=like&size=small&share=true&height=20&appId"
        width="150" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
</mat-toolbar>