<mat-toolbar id="top-toolbar" class="top-toolbar">
  <mat-toolbar-row ngClass.xs="p-0">
    <div class="theme-container" fxLayout="row" fxLayoutAlign="center" fxLayoutAlign.gt-sm="end center"
      fxLayoutAlign.sm="space-between center">
      <app-social-icons [iconSize]="'lg'" [iconColor]="'primary'" fxLayout="row" fxLayoutAlign="start center"
        fxHide="false" fxHide.gt-sm fxHide.xs></app-social-icons>
      <div fxLayout="row" fxLayoutAlign="start center" fxShow="false" fxShow.xs class="bg-primary right-section px-2">
        <app-social-icons fxLayout="row" fxLayoutAlign="start center"></app-social-icons>
      </div>
      
      <div fxLayout="row" ngClass.xs="w-100"fxLayoutAlign.gt-sm="space-between center" >
        <div style="display: none;" fxFlex="auto">
          <a mat-raised-button [ngClass]="{ 'green-button': isGreen }" routerLink="/payment/0/0" color="warn"
          class="w-100">{{'COMMON.DONATE' | translate }}</a>
        </div>
        <div style="margin-right: 200px;">
          
        </div>
        
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex="auto">
          <div *ngIf="appService.company.displayLangMenu" class="bg-primary">
            <app-lang></app-lang>
          </div>
          <div class="bg-primary">
            <app-user-menu></app-user-menu>
          </div>
        </div>
        
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row ngClass.xs="py-3">
    <div class="theme-container" fxLayout="row" fxLayoutAlign="center" fxLayoutAlign.gt-sm="space-between center">
      <a class="logo" routerLink="/">
        <app-logo></app-logo>
      </a>
      <app-contacts [dividers]="false" [iconColor]="'primary'" [iconSize]="'lg'" fxLayout="row"
        fxLayoutAlign="start center" fxShow="false" fxShow.gt-sm></app-contacts>
      <app-social-icons [iconSize]="'lg'" [iconColor]="'primary'" fxLayout="row" fxLayoutAlign="end center"
        fxShow="false" fxShow.gt-sm></app-social-icons>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar id="main-toolbar" class="mat-elevation-z2">
  <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon class="mat-icon-xlg" fxHide="false" fxHide.gt-sm (click)="sidenavToggle()">menu</mat-icon>
    <div fxShow="false" fxShow.gt-sm class="horizontal-menu">
      <app-horizontal-menu [menuParentId]="0"></app-horizontal-menu>
    </div>
    <div>
      <a href="https://www.facebook.com/sharer/sharer.php?u=https://epicares.org/#/" 
        target="_blank" 
        style="display: inline-block; background-color: #1877F2; color: white; 
                font-size: 16px; font-weight: bold; padding: 10px 20px; 
                border-radius: 5px; text-decoration: none;">
          {{'COMMON.SHARE' | translate }}
      </a>
    </div>
  </div>
</mat-toolbar>