<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="90" class="p-3">
    <mat-form-field appearance="outline" class="w-100">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'COMMON.SEARCH' | translate}}"
        autocomplete="off">
    </mat-form-field>
  </div>
</div>

<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" matSort class="w-100">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let jobAppli"> {{jobAppli.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMMON.APPLICANT' | translate}} </th>
      <td mat-cell *matCellDef="let jobAppli">{{jobAppli.firstName}} {{jobAppli.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMMON.PHONE' | translate}} </th>
      <td mat-cell *matCellDef="let jobAppli">{{jobAppli.phone}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMMON.EMAIL' | translate}} </th>
      <td mat-cell *matCellDef="let jobAppli">{{jobAppli.email}}</td>
    </ng-container>

    <ng-container matColumnDef="createDatetime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let jobAppli">
        {{jobAppli.createDate | date: appService.DATE_TIME_FORMAT }} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMMON.STATUS' | translate}} </th>
      <td mat-cell *matCellDef="let jobAppli">
       {{jobAppli.status===1?('COMMON.ACTIVE'| translate):('COMMON.INACTIVE'| translate)}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let jobAppli">
        <a [routerLink]="['/account/job-appli', jobAppli.id]" mat-icon-button color="primary"
          matTooltip="{{'COMMON.EDIT' | translate}}">
          <mat-icon>edit</mat-icon>
        </a>
        
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let jobAppli; columns: displayedColumns;">
    </tr>
  </table>
  <p *ngIf="dataSource?.data.length === 0" class="py-5 mb-0 text-center">{{'MESSAGE.NO_DATA' | translate}}</p>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>