<div class="p-3">
  <div class="theme-container">

    <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
      <mat-card [style.max-width.px]="500">
        <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
          <h1 class="uppercase">{{'COMMON.SIGN_IN' | translate }}</h1>
          <a mat-button [routerLink]="['/register', action]" color="accent" class="w-100">{{'COMMON.NEW_REGISTER' | translate }}</a>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
          <mat-form-field appearance="outline" class="w-100 mt-2">
            <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
            <mat-label>{{'COMMON.E_MAIL' | translate }}</mat-label>
           <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="loginForm.controls.email.errors?.required">
          {{'VALIDATION.EMAIL_REQUIRED' | translate }}</mat-error>
          <mat-error *ngIf="loginForm.controls.email.hasError('invalidEmail')">
              {{'VALIDATION.EMAIL_INVALID' | translate }}
          </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100 mt-1">
            <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
            <mat-label>{{'COMMON.PASSWORD' | translate }}</mat-label>
            <input matInput placeholder="Password" formControlName="password" required
              [type]="hide ? 'password' : 'text'">
            <mat-error *ngIf="loginForm.controls.password.errors?.required">
              {{'VALIDATION.PASSWORD_REQUIRED' | translate }}</mat-error>
            <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">
              {{'VALIDATION.MINIMUM_LENGTH' | translate }} 6</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <div class="text-center mt-2">
            <button mat-raised-button color="accent" class="uppercase" type="submit">
              {{'COMMON.SIGN_IN' | translate }}
            </button>
          </div>

        </form>
        <div fxLayout="column" fxLayoutAlign="center center" class="text-center" *ngIf="error">
          <a mat-button color="accent" class="w-100">{{error}}</a>
        </div>
        <mat-card-actions fxLayoutAlign="end center">
          <button mat-button (click) ="sendPassword()"> 
            <mat-icon class="text-muted">vpn_key</mat-icon>
            <span class="mx-1">{{'MESSAGE.SEND_PASSWORD' | translate }}</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>