<!-- <div class="px-3">
    <div class="theme-container">
        <mat-sidenav-container class="single-property mt-3">
            <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" position="end"
                autoFocus="false" (openedChange)="onOpenedChange()">
                <button fxHide="false" fxHide.gt-sm="true" mat-mini-fab color="warn" class="close"
                    (click)="sidenav.close()">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-card [perfectScrollbar]="psConfig">

                    <div class="widget" *ngIf="appService.company.displayAuthor">
                        <mat-card *ngIf="project.user">
                             <img mat-card-image src="assets/images/users/{{project.user.id}}/{{project.user.picture}}"
                                [alt]="project.user.name">

                            <img *ngIf="project.user.picture" mat-card-image
                                src="assets/images/users/{{project.user.id}}/{{project.user.picture}}"
                                [alt]="project.user.name">

                            <img *ngIf="!project.user.picture" mat-card-image src="assets/images/avatars/user_faded.jpg"
                                [alt]="project.user.name">

                            <mat-card-content>
                                <h2 class="fw-600">{{'COMMON.AUTHOR'|translate }}: {{project.user.name}}</h2>

                                <div *ngIf="project.user.resume" [innerHTML]="project.user.resume | safehtml"></div>
                                <p fxLayoutAlign="start center">
                                    <mat-icon color="primary" matTooltip="Organization" matTooltipPosition="above">
                                        business</mat-icon><span class="mx-2">{{project.user.companyName}}</span>
                                </p>
                                <p fxLayoutAlign="start center">
                                    <mat-icon color="primary">email</mat-icon><span
                                        class="mx-2">{{project.user.email}}</span>
                                </p>
                                <p fxLayoutAlign="start center">
                                    <mat-icon color="primary">call</mat-icon><span
                                        class="mx-2">{{project.user.phone}}</span>
                                </p>
                            </mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-card-actions fxLayoutAlign="space-between center">
                                <div fxLayout="row" fxLayoutAlign="start center" class="text-muted">
                                    <a *ngIf="project.user.facebook" [href]="project.user.facebook" target="blank"
                                        class="social-icon">
                                        <svg class="mat-icon" viewBox="0 0 24 24">
                                            <path
                                                d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" />
                                        </svg>
                                    </a>
                                    <a *ngIf="project.user.twitter" [href]="project.user.twitter" target="blank"
                                        class="social-icon">
                                        <svg class="mat-icon" viewBox="0 0 24 24">
                                            <path
                                                d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M17.71,9.33C18.19,8.93 18.75,8.45 19,7.92C18.59,8.13 18.1,8.26 17.56,8.33C18.06,7.97 18.47,7.5 18.68,6.86C18.16,7.14 17.63,7.38 16.97,7.5C15.42,5.63 11.71,7.15 12.37,9.95C9.76,9.79 8.17,8.61 6.85,7.16C6.1,8.38 6.75,10.23 7.64,10.74C7.18,10.71 6.83,10.57 6.5,10.41C6.54,11.95 7.39,12.69 8.58,13.09C8.22,13.16 7.82,13.18 7.44,13.12C7.81,14.19 8.58,14.86 9.9,15C9,15.76 7.34,16.29 6,16.08C7.15,16.81 8.46,17.39 10.28,17.31C14.69,17.11 17.64,13.95 17.71,9.33Z" />
                                        </svg>
                                    </a>
                                    <a *ngIf="project.user.linkedin" [href]="project.user.linkedin" target="blank"
                                        class="social-icon">
                                        <svg class="mat-icon" viewBox="0 0 24 24">
                                            <path
                                                d="M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19M18.5,18.5V13.2A3.26,3.26 0 0,0 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17A1.4,1.4 0 0,1 15.71,13.57V18.5H18.5M6.88,8.56A1.68,1.68 0 0,0 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19A1.69,1.69 0 0,0 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z" />
                                        </svg>
                                    </a>
                                    <a *ngIf="project.user.instagram" [href]="project.user.instagram" target="blank"
                                        class="social-icon">
                                        <svg class="mat-icon" viewBox="0 0 24 24">
                                            <path
                                                d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                                        </svg>
                                    </a>
                                    <a *ngIf="project.user.website" [href]="project.user.website" target="blank"
                                        class="social-icon">
                                        <svg class="mat-icon" viewBox="0 0 24 24">
                                            <path
                                                d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" />
                                        </svg>
                                    </a>
                                </div>
                                <div>
                                    <a [routerLink]="['/agents', project.user.id]" mat-button color="primary"
                                        class="uppercase">{{ 'COMMON.VIEW_PROFILE' | translate }}</a>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>

                    <div class="widget">
                        <h3 class="widget-title bg-primary">{{ 'MESSAGE.SEND_US_FEEDBACK' | translate }}</h3>
                        <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit(contactForm.value)">
                            <p>{{ 'MESSAGE.SEND_US_FEEDBACK_TEXT_P' | translate }}</p>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'COMMON.NAME'|translate}}</mat-label>
                                <input matInput placeholder="{{'COMMON.NAME'|translate}}" autocomplete="off"
                                    formControlName="name">
                                <mat-error *ngIf="contactForm.controls.name.errors?.required">
                                    {{'VALIDATION.NAME_REQUIRED'|translate}}
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>E-mail</mat-label>
                                <input matInput placeholder="Email" autocomplete="off" formControlName="email">
                                <mat-error *ngIf="contactForm.controls.email.errors?.required">
                                    {{'VALIDATION.EMAIL_REQUIRED'|translate}}
                                </mat-error>
                                <mat-error *ngIf="contactForm.controls.email.hasError('invalidEmail')">
                                    {{'VALIDATION.EMAIL_INVALID'|translate}}</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'COMMON.PHONE'|translate}}</mat-label>
                                <input matInput placeholder="{{'COMMON.PHONE'|translate}}" autocomplete="off"
                                    formControlName="phone" type="number">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Message</mat-label>
                                <textarea matInput placeholder="Message" formControlName="message" rows="6"></textarea>
                                <mat-error *ngIf="contactForm.controls.message.errors?.required">
                                    {{'VALIDATION.MESSAGE_REQUIRED'|translate}}
                                </mat-error>
                            </mat-form-field>
                            <div class="text-center">
                                <div class="text-center mt-2" *ngIf="messages">
                                    <p><a mat-button color="accent" class="w-100">{{messages}}</a></p>
                                </div>
                                <button mat-raised-button color="accent"
                                    type="submit">{{'MESSAGE.SEND_MESSAGE'|translate}}</button>
                            </div>
                        </form>
                    </div>


                    <div fxLayout="column" class="widget" *ngIf="featuredProjects">
                        <h3 class="widget-title bg-primary">{{'COMMON.FEATURED_PROJECTS'|translate}}</h3>
                        <div *ngFor="let prop of featuredProjects" class="mb-3">
                            <app-project-item [projectDesc]="project" [viewType]="'grid'"></app-project-item>
                        </div>
                    </div>

                </mat-card>
            </mat-sidenav>
            <mat-sidenav-content ngClass.gt-sm="distance">
                <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
                    <div>
                        <h2 ngClass.xs="text-center">{{project.title}}</h2>
                        <p fxLayout="row" fxLayoutAlign.xs="center" class="address mb-0">
                            <mat-icon class="text-muted">import_contacts</mat-icon>
                            <span *ngIf="appService.company.displayAuthor">{{'COMMON.AUTHOR'|translate}}:
                                {{project.user?.name}}, {{project.location}}</span>
                            <span *ngIf="!appService.company.displayAuthor">{{'COMMON.AUTHOR'|translate}}:
                                {{project.location}}</span>
                        </p>
                    </div>
                    <div fxLayout="column" fxLayoutAlign.xs="center center" class="mx-3">
                        <h3 class="primary-color price">
                            <span>{{'COMMON.PUBLISHED'|translate}}:<span
                                    class="fw-500 mx-2">{{project?.createDate |date:'shortDate'}}</span></span>
                        </h3>
                        <app-rating [ratingsCount]="project?.ratingCount" [ratingsValue]="project?.rating">
                        </app-rating>
                        
                        <span *ngIf="project.status === 0" style="color: #ff0000;">{{'COMMON.SUBMITTED'|translate}}</span>
                        <span *ngIf="project.status === 1" style="color: #283593; background: yellow;">{{'COMMON.IN_REVIEW'|translate}}</span>
                        <span *ngIf="project.status === 5" style="color: green;">{{'COMMON.APPROVED'|translate}}</span>
                        <span *ngIf="project.status === 10" style="color: green;">{{'COMMON.IN_PROGRESS'|translate}}</span>
                        <span *ngIf="project.status === 90" style="color: green;">{{'COMMON.COMPLETED'|translate}}</span>
                        <span *ngIf="project.status === 99" style="color: red;">{{'COMMON.REJECTED'|translate}}</span>
                    </div>
                    <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </mat-card>

                
                <mat-card  *ngIf="isAdmin()" class="mt-3"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
                     <h4 *ngIf="messages" style="color: green;"> {{messages}} </h4>
                    <h4 *ngIf="error" style="color: red;"> {{error}} </h4>

                    <div fxFlex="15" fxFlex.gt-sm="50"  >
                        <button type="submit" (click)="changeStatus(0)" mat-button [color]="project.status === 0? 'primary':'accent'">
                            {{'COMMON.SUBMITTED'|translate}}
                            <span class="material-icons">
                                edit
                            </span>
                        </button>
                    </div>
                     <div fxFlex="15" fxFlex.gt-sm="50" >
                        <button type="submit" (click)="changeStatus(1)" mat-button  [color]="project.status === 1? 'primary':'accent'">
                            {{'COMMON.IN_REVIEW'|translate}}
                            <span class="material-icons">
                                cached
                            </span>
                        </button>
                    </div> 
                     <div fxFlex="15" fxFlex.gt-sm="50"  >
                        <button type="submit" (click)="changeStatus(5)" mat-button  [color]="project.status === 5? 'primary':'accent'">
                            {{'COMMON.APPROVED'|translate}}
                            <span class="material-icons">
                                check
                            </span>
                        </button>
                    </div>
                     <div fxFlex="15" fxFlex.gt-sm="50" >
                        <button type="submit" (click)="changeStatus(10)" mat-button  [color]="project.status === 10? 'primary':'accent'">
                            {{'COMMON.IN_PROGRESS'|translate}}
                            <span class="material-icons">
                                published_with_changes
                            </span>
                        </button>
                    </div>
                     <div fxFlex="15" fxFlex.gt-sm="50" >
                        <button type="submit" (click)="changeStatus(90)" mat-button  [color]="project.status === 90? 'primary':'accent'">
                            {{'COMMON.COMPLETED'|translate}}
                            <span class="material-icons">
                                task_alt
                            </span>
                        </button>
                    </div>
                     <div fxFlex="15" fxFlex.gt-sm="50" >
                        <button type="submit" (click)="changeStatus(99)" mat-button  [color]="project.status === 99? 'primary':'accent'">
                            {{'COMMON.REJECTED'|translate}}
                            <span class="material-icons"> 
                                thumb_down_alt 
                            </span>
                        </button>
                    </div>
                </mat-card>

                <mat-card class="mt-3" *ngIf="project?.fileNames && project?.fileNames.length>0">
                    <div class="main-carousel mb-3">
                        
                         <div *ngIf="project" class="control-icons">
                         <button mat-button [disabled]="onFavorites()" (click)="addToFavorites()"
                                matTooltip=" {{'COMMON.ADD_FAVORITE'|translate }}">
                                <mat-icon class="">favorite_border</mat-icon>
                            </button> 
                         </div>
                         
                        <div id="main-carousel" class="swiper-container" [swiper]="config"
                            (indexChange)="onIndexChange($event)">
                            <div class="swiper-wrapper">
                                <div *ngFor="let image of project?.fileNames" class="swiper-slide">
                                    <img [attr.data-src]="'assets/images/projects/' + project.id + '/'+image"
                                        class="swiper-lazy">
                                    <div class="swiper-lazy-preloader"></div>
                                </div>
                            </div>
                            <button mat-mini-fab color="primary" class="swiper-button-prev swipe-arrow">
                                <mat-icon>keyboard_arrow_left</mat-icon>
                            </button>
                            <button mat-mini-fab color="primary" class="swiper-button-next swipe-arrow">
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="small-carousel" >
                        <div id="small-carousel" class="swiper-container" [swiper]="config2">
                            <div class="swiper-wrapper">
                                <div *ngFor="let image of project?.fileNames; let i=index;" class="swiper-slide"
                                    [ngClass]="'thumb-'+i" [class.active-thumb]="i == 0">
                                    <img [attr.data-src]="'assets/images/projects/' + project.id + '/'+image" style="max-height:50px;"
                                        class="swiper-lazy mw-100" (click)="selectImage(i)">
                                    <div class="swiper-lazy-preloader"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>


                <mat-card class="mt-3">
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">Presentation</mat-card-title>
                    
                         <button *ngIf="isAdmin()||canEdit()" routerLink="/submit-project/{{project.id}}" type="submit"  mat-button [color]="project.status === 0? 'primary':'accent'">
                            {{'COMMON.EDIT'|translate}}
                            <span class="material-icons">
                                edit
                            </span>
                        </button>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="px-3">
                            <div class="theme-container">
                                <div class="get-in-touch bg-primary" ngClass.lt-md="mt-3">
                                    {{'MESSAGE.PROJECT_DESCRIPTION' | translate}}
                                </div>
                            </div>
                        </div>
                        <div [innerHTML]="project.description | safehtml"></div>
                        <div class="px-3">
                            <div class="theme-container">
                                <div class="get-in-touch bg-primary" ngClass.lt-md="mt-3">
                                    {{'MESSAGE.PROJECT_OBJECTIVE' | translate}}
                                </div>
                            </div>
                        </div>
                        <div [innerHTML]="project.objectif | safehtml"></div>
                    </mat-card-content>
                </mat-card>


                <mat-card class="mt-3">
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">Innovation</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="px-3">
                            <div class="theme-container">
                                <div class="get-in-touch bg-primary" ngClass.lt-md="mt-3">
                                    {{'MESSAGE.PROJECT_INOV' | translate}}
                                </div>
                            </div>
                        </div>
                        <div [innerHTML]="project.inovation | safehtml"></div>
                        <div class="px-3">
                            <div class="theme-container">
                                <div class="get-in-touch bg-primary" ngClass.lt-md="mt-3">
                                    {{'MESSAGE.PROJECT_EXISTANT' | translate}}
                                </div>
                            </div>
                        </div>
                        <div [innerHTML]="project.existant | safehtml"></div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="mt-3">
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">{{'COMMON.SWAT'|translate}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="px-3">
                            <div class="theme-container">
                                <div class="get-in-touch bg-primary" ngClass.lt-md="mt-3">
                                    {{'MESSAGE.PROJECT_RESOURCE' | translate}}
                                </div>
                            </div>
                        </div>
                        <div [innerHTML]="project.resource | safehtml"></div>
                        <div class="px-3">
                            <div class="theme-container">
                                <div class="get-in-touch bg-primary" ngClass.lt-md="mt-3">
                                    {{'MESSAGE.PROJECT_RISK' | translate}}
                                </div>
                            </div>
                        </div>
                        <div [innerHTML]="project.constraints | safehtml"></div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="mt-3">
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">{{'COMMON.RESULT_BUDGET'|translate}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="px-3">
                            <div class="theme-container">
                                <div class="get-in-touch bg-primary" ngClass.lt-md="mt-3">
                                    {{'MESSAGE.PROJECT_BUDGET' | translate}}
                                </div>
                            </div>
                        </div>
                        <div [innerHTML]="project.budgetLine | safehtml"></div>
                        <div class="px-3">
                            <div class="theme-container">
                                <div class="get-in-touch bg-primary" ngClass.lt-md="mt-3">
                                    {{'MESSAGE.PROJECT_RESULT' | translate}}
                                </div>
                            </div>
                        </div>
                        <div [innerHTML]="project.result | safehtml"></div>
                    </mat-card-content>
                </mat-card>

                  <mat-card class="mt-3">
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">{{'COMMON.EXEC_FEASIBILITY'|translate}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="px-3">
                            <div class="theme-container">
                                <div class="get-in-touch bg-primary" ngClass.lt-md="mt-3">
                                    {{'MESSAGE.PROJECT_FEASIBILITY' | translate}}
                                </div>
                            </div>
                        </div>
                        <div [innerHTML]="project.feasibility | safehtml"></div>
                        <div class="px-3">
                            <div class="theme-container">
                                <div class="get-in-touch bg-primary" ngClass.lt-md="mt-3">
                                    {{'MESSAGE.PROJECT_EXECUTION' | translate}}
                                </div>
                            </div>
                        </div>
                        <div [innerHTML]="project.execution | safehtml"></div>
                    </mat-card-content>
                </mat-card>

                <mat-card *ngIf="project && project.videos && project.videos.length>0" class="mt-3">
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">{{'COMMON.VIDEO'|translate}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="mt-5" *ngFor="let video of project.videos">
                            <h3 class="text-center fw-500">{{video.name}}</h3>
                            <div [innerHtml]="video.embedVideo | safehtml" class="videoWrapper"></div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="mt-3" fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <span>N<sup>o</sup>:<span class="fw-500 mx-2">{{project?.id |number:'3.0'}}</span></span>
                    <span>{{'COMMON.PUBLISHED'|translate}}:<span
                            class="fw-500 mx-2">{{project?.createDate | date:"dd MMMM, yyyy"}}</span></span>
                    <span>{{'COMMON.LAST_UPDATED'|translate}}:<span
                            class="fw-500 mx-2">{{project?.modDate | date:"dd MMMM, yyyy"}}</span></span>
                    <span>{{'COMMON.VIEWS'|translate}}:<span class="fw-500 mx-2">{{project?.viewCount}}</span></span>
                </mat-card>

                <app-comments *ngIf="project" [projectId]="projectId"></app-comments>

            </mat-sidenav-content>
        </mat-sidenav-container>

    </div>
</div>

<div class="section mt-3" *ngIf="relatedProjects">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">{{ 'COMMON.SIMILAR_PROJECTS' | translate }}</h1>
            <app-blog-carousel [properties]="relatedProjects"></app-blog-carousel>
        </div>
    </div>
</div>

<app-get-in-touch></app-get-in-touch> -->