<div class="table-wrapper">

   <mat-tab-group>
    <mat-tab label="{{'COMMON.STATUS' | translate}}">
      <app-statusText-component></app-statusText-component>
    </mat-tab>
    <mat-tab label="{{'COMMON.REGULATIONS' | translate}}">
      <app-regulation-component></app-regulation-component>
    </mat-tab>
    <mat-tab label="{{'COMMON.POSITION' | translate}}">
      <app-positions-component></app-positions-component>
    </mat-tab> 
    <mat-tab label="{{'COMMON.POLL_TYPE' | translate}}">
      <app-pollTypes-component></app-pollTypes-component>
    </mat-tab> 
  </mat-tab-group>
</div>