  <div class="table-wrapper">

  <mat-horizontal-stepper [linear]="true" *ngIf="action === 'processing'" #stepper>
    <mat-step completed="false">
      <ng-template matStepLabel>{{'COMMON.PROJECT'|translate}}</ng-template>
        <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label> {{'COMMON.PROJECT' | translate}}</mat-label>
            <input type="text" placeholder="{{'COMMON.SELECT_PROJECT'|translate}}" aria-label="Number" name="currentProjectOption"
              matInput [matAutocomplete]="projectOptionAuto" [(ngModel)]="currentProjectOption" required 
              (ngModelChange)="filterProjectOptions(currentProjectOption)">
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            <mat-autocomplete id="projOption" #projectOptionAuto="matAutocomplete">
              <mat-option *ngFor="let pOption of filteredProjectOptions " [value]="pOption.projectDescs[0].title" 
                (onSelectionChange)="transaction.project = pOption;">
                {{pOption.projectDescs[0].title}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
            <button mat-raised-button color="secondary" (click)="goBack()" type="button">Back</button>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
            <button mat-raised-button color="primary" (click)="goForward()" style="float: right;"
              [disabled]="!transaction.project" type="button">Next</button>
          </div>
        </div>
  
    </mat-step>
    <mat-step completed="false">
      <ng-template matStepLabel>{{'COMMON.AMOUNT'|translate}}</ng-template>
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label> {{'COMMON.AMOUNT' | translate}}</mat-label>
            <input matInput type="text" class="form-control" id="amount" [(ngModel)]="transaction.amount" name="amount"
              #amount="ngModel" required>
            <mat-error *ngIf="amount.invalid" severity="error">
              {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
          <mat-form-field appearance="outline" class="w-100 mb-3">
              <mat-label>{{'COMMON.CURRENCY' | translate}}</mat-label>
              <mat-select placeholder="{{'COMMON.SELECT' | translate}}" [compareWith]="compareObjects" id="currency"
                name="currency" [(ngModel)]="transaction.currencyCode">
            <!--    <mat-option [value]="'USD'">
                  USD
                </mat-option>    -->
               <mat-option [value]="'XOF'">
                  CFA
                </mat-option>
            <!--    <mat-option [value]="'EUR'">
                  EUR
                </mat-option>  -->
              </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
          <button mat-raised-button color="secondary" (click)="goBack()" type="button">Back</button>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
          <button mat-raised-button color="primary" (click)="goForward()" style="float: right;"
            [disabled]="amount.invalid" type="button">Next</button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{'COMMON.PAY'|translate}}</ng-template>

      <mat-radio-group [(ngModel)]="transaction.paymentMethod">
        <mat-radio-button  value="CARD" >
          {{'COMMON.CREDIT_CARD'|translate}}
        </mat-radio-button>
        <mat-radio-button  value="TMONEY">
          TMoney
        </mat-radio-button> 
        <mat-radio-button  value="FLOOZ">
          Flooz
        </mat-radio-button> 
      </mat-radio-group> 

      <br/>
      <br/>

      <div [hidden]="transaction.paymentMethod !== 'CARD'">
        <form id="payment-form">
          <div id="card-element"><!--Stripe.js injects the Card Element--></div>
          <br/>
          <br/> 
          <button id="submit" mat-raised-button color="primary">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">{{'COMMON.PAY'|translate}}</span>
            <!-- <mat-icon>save</mat-icon> -->
            <span id="order-amount"></span>
          </button>
        </form>
      </div>

      <div [hidden]="transaction.paymentMethod !== 'TMONEY' && transaction.paymentMethod !== 'FLOOZ'">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label> {{'COMMON.PHONE' | translate}}</mat-label>
          <input matInput type="text" class="form-control" id="phone" [(ngModel)]="transaction.phone" name="phone"
            #phone="ngModel" required>
          <mat-error *ngIf="phone.invalid" severity="error">
            {{ 'VALIDATION.FIELD_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>

        <div fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-sm="100" class="p-3">
            <div class="text-center mt-2">
              <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" (click)="saveTransaction()">
                <span class="mx-1 uppercase">{{'COMMON.PAY' | translate}}</span>
              </button> 
            </div>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step>

      <mat-error *ngIf="errors" severity="error">
        <h3>{{ errors }}</h3>
      </mat-error>

      <mat-error *ngIf="messages" severity="message">
        <h3>{{ messages }}</h3>
      </mat-error>

      <mat-spinner *ngIf="!messages && !errors"> Payment processing. Please don't close ...</mat-spinner>

      <div fxLayout="row wrap"> 
        <div fxFlex="100" fxFlex.gt-sm="33" class="p-3">
          <mat-label> {{'COMMON.PROJECT' | translate}}: {{transaction.project.projectDescs[0].title}} </mat-label>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33" class="p-3">
          <mat-label> {{'COMMON.AMOUNT' | translate}}: {{transaction.amount}} </mat-label>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33" class="p-3">
          <mat-label> {{'COMMON.CURRENCY' | translate}}: {{transaction.currencyCode}} </mat-label>
        </div>
      </div>  
      
    </mat-step>
  </mat-horizontal-stepper>

  <div fxLayout="row wrap" *ngIf="action === 'complete'">
    <mat-error *ngIf="errors" severity="error">
        <h3>{{ errors }}</h3>
      </mat-error>

      <mat-error *ngIf="messages" severity="message">
        <h3>{{ messages }}</h3>
      </mat-error>
  </div>
</div>  