<mat-toolbar id="main-toolbar" class="mat-elevation-z2" >
  <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
    <span fxHide="false" fxHide.gt-sm>
      <button mat-button (click)="sidenavToggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    <a class="logo" routerLink="/">
      <app-logo></app-logo>
    </a>
    <div fxShow="false" fxShow.gt-sm class="horizontal-menu">
      <app-horizontal-menu [menuParentId]="0"></app-horizontal-menu>
    </div>
    <app-lang></app-lang>
    <app-social-icons fxLayout="row" fxLayoutAlign="start center" fxShow="false" fxShow.gt-md></app-social-icons>
  </div>
</mat-toolbar>