<div class="agents-carousel">
    <div class="swiper-container h-100 carousel-outer" [swiper]="config">
        <div class="swiper-wrapper h-100">
            <div *ngFor="let news of featuredBlogs" class="swiper-slide">
                <app-blog-item [news]="news" [viewType]="viewType" [viewColChanged]="viewCol" [fullWidthPage]="false">
                </app-blog-item>
            </div> 
        </div>
        <button mat-mini-fab color="primary" class="swiper-button-prev swipe-arrow">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-mini-fab color="primary" class="swiper-button-next swipe-arrow">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</div>